# Only publish the module's build inputs and essential documentation.
/*
!/.gitignore
!/.gitattributes
!/.github/
!/LICENSE
!/README.md
!/third_party/
/third_party/*
!/third_party/zygisk/
/third_party/zygisk/*
!/third_party/zygisk/zygisk.hpp
!/third_party/zygisk/README.md
!/third_party/zygisk/source.json
!/tools/
/tools/*
!/tools/uid-seccomp-module/
/tools/uid-seccomp-module/*
!/tools/uid-seccomp-module/build.py
!/tools/uid-seccomp-module/module.cpp
!/tools/uid-seccomp-module/filter.h
!/tools/uid-seccomp-module/panel/
/tools/uid-seccomp-module/panel/*
!/tools/uid-seccomp-module/panel/action.sh
!/tools/uid-seccomp-module/panel/control.sh
!/tools/uid-seccomp-module/panel/customize.sh
!/tools/uid-seccomp-module/panel/defaults
!/tools/uid-seccomp-module/panel/locale.sh
!/tools/uid-seccomp-module/panel/post-fs-data.sh
!/tools/uid-seccomp-module/panel/verify.sh
!/tools/uid-seccomp-module/panel/webroot/
/tools/uid-seccomp-module/panel/webroot/*
!/tools/uid-seccomp-module/panel/webroot/app.js
!/tools/uid-seccomp-module/panel/webroot/i18n.js
!/tools/uid-seccomp-module/panel/webroot/index.html
!/tools/uid-seccomp-module/panel/webroot/style.css
